body {
  font-family: 'Raleway';
}

.layout-container {
  height: calc(100vh - 200px);
}

#login-page footer,
#signup-page footer {
  display: none !important;
}

.login-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding-top: 120px;
}

.register-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.sidebar__btn-menu,
.topbar {
  height: 80px;
}

.navbar-avatar {
  width: 40px !important;
  height: 40px !important;
}

.navbar-avatar img {
  width: 40px !important;
  height: 40px !important;
}

.navbar-add {
  width: 40px !important;
  height: 40px !important;
}

.signup-avatar {
  width: 64px !important;
  height: 64px !important;
}

.signup-avatar img {
  width: 64px !important;
  height: 64px !important;
}

.quote-avatar {
  width: 24px !important;
  height: 24px !important;
}

.quote-avatar img {
  width: 24px !important;
  height: 24px !important;
}

#avatarParent:hover #avatar {
  display: none;
}

#avatarParent:hover #upload {
  display: block;
}

#upload {
  display: none;
}

.signup-button-litlle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  text-decoration: none;

  width: 137px;
  height: 40px;
  left: 15px;
  top: 16px;

  /* Orange */

  background: #de8667;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  border: none;

  color: white;
}

.button-light-orange {
  background: #efb467;
  border: #efb467;
}

.login-button-litlle {
  /* Property 1=Alternative */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  text-decoration: none;

  // width: 137px;
  min-width: 137px;
  height: 40px;
  left: 16px;
  top: 77px;

  /* White */

  background: #ffffff;
  /* Alternative */

  border: 2px solid #efb467;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;

  color: #de8667;
}

.orange-border {
  border: 2px solid #de8667;
}

// .navbar-text {
//   color: #de8667;
//   text-decoration: none;
// }

.logout-button {
  border: none;
  background-color: transparent;
}

// .navbar-text:hover {
//   color: #de8667;
//   text-decoration: none;
// }

.signup-text-black {
  font-size: 35px;
}

.font-size-98 {
  font-size: 98px;
}

.font-size-61 {
  font-size: 61px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-12 {
  font-size: 12px;
}

.text-orange {
  color: #de8667;
}

.text-white {
  color: white;
}

.text-inline {
  display: inline;
}

.signup-text-small {
  font-size: 16px;
  text-align: center;
}

.signup-text-xsmall {
  font-size: 12px;
  font-weight: bold;
}

.form-rounded {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px 8px 24px;
  gap: 8px;

  width: 420px;
  height: 40px;

  background: #ffffff;
  /* Orange */

  border: 2px solid #de8667;
  border-radius: 16px;
  text-decoration-color: #de8667;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.form-section-orange {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px 8px 24px;
  gap: 8px;

  width: 420px;
  height: 40px;

  background: #ffffff;
  /* Orange */

  border: 2px solid #de8667;
  border-radius: 32px;
  text-decoration-color: #de8667;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.form-section-orange:focus {
  border: 2px solid #de8667;
  border-radius: 32px;
  text-decoration-color: #de8667;
}

.rectangle {
  position: absolute;
  height: 414.5px;
  left: 0px;
  right: 0px;
  top: 1px;

  /* Orange */

  background: #de8667;
  z-index: -1;
}

.profile-box {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  padding: 16px 32px;
  // gap: 32px;

  position: absolute;
  width: 315px;
  height: 83px;
  top: 368px;

  /* White */

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.mg-top-100 {
  margin-top: 100px;
}

.mg-top-150 {
  margin-top: 150px;
}

.quoteComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px 16px 16px;
  gap: 21px;
  margin-bottom: 18px;

  width: 420px;
  // height: 131px;

  /* White */

  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.quote-component-pozition {
  position: absolute;
  top: 500px;
  gap: 18px;
  // border: 3px solid #73AD21;
  justify-content: space-evenly;
  max-width: 1260px;
  width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.settings-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 593px;
  // height: 408px;

  /* White */

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  z-index: 20;
}

.settings-box-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 317px;

  /* White */

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  z-index: 20;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1); /* Black with 50% opacity */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.w-auto {
  width: auto;
}

.w-530 {
  width: 530px;
}

.h-500 {
  min-height: 507px;
  max-height: 530px;
}

.pl-40 {
  padding-left: 40px;
}

.line-space-0 {
  line-height: 1.005;
}

.home-page-container {
  position: relative;
  top: 150px;
}
